// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Main styles
@import "layouts/menu";

@import "layouts/header";

@import "layouts/footer";

//Styles of menu section

@import "layouts/menu/services";

//Styles of User profile

@import "layouts/profile/documents";

@import "layouts/profile/order";

@import "layouts/profile/settings";

// common styles
@import "common";

@import "elements";

* {
   margin: 0;
   padding: 0;
}

html,
body {
   height: 100%;
}

#app {
   position: relative;
   height: 100%;
}

#wrapper {
   display: flex;
   flex-direction: column;
   padding: 0;
   justify-content: space-between;
   height: 100%;
}

.content {
   flex: 1 0 auto;
}

.footer {
   flex: 0 0 auto;
}
