
footer {
  background-color: #00866E;
  color: white;
  padding-top: 1rem;

  .container {
    justify-content: space-between;
    place-content: stretch;

    .row {
      .col-md-6 {

        .under-logo {
          height: 30px;
        }

        .list-unstyled ul > li {
          .a {
            color: white !important;
            text-decoration: none;
          }
        }
      }
    }
  }
}

