footer {
  background-color: #00866E;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 200px;
  color: white;
  padding-top:1.5rem !important;
  margin-bottom: 0;

 .container {
   background-color: #00866E;
   justify-content:space-between;
   place-content: stretch;
   font-size: 18px;

  .row {
    .col-md-6 {
      font-size: 18px;
      .under-logo {
        height: 35px;
      }
      .list-unstyled ul>li {
        .a {
            color: white !important;
            text-decoration: none;
          }
        }
      }
    .col-md-3 {
      font-size: 18px;
      }
      }
    }
   }

