header {
  background: white;

  .logo-text-block {
    font-size: 18px;
    .logo-text {
      font-weight: 900;
      color: #9e9e9e;
    }
  }

  .logo-text-block {
    display: flex;
    align-items: end;
  }

  .navbar-brand {
    font-size: 24px;
  }

  .navbar-nav  .btn {
    background-color: #00C98D;
    font-weight: 900;
    color: white;
  }

  #reg-btn {
    margin-left: 10px;
  }

  .navbar-nav {
    justify-content: end;

    .nav-item {
      a {
        text-align: end;
      }
    }
  }

  .navbar-brand {
    font-size: 20px;
  }

  .collapse .navbar-collapse ul > li {
    list-style-type: none;
  }

  .navbar-nav .dropdown-menu {
    position: absolute;
  }

  .dropdown {
    .dropdown-menu {
      right: 0;
      left: auto;

      ul > li {
        list-style-type: none;
        display: inline;
      }
    }
  }

  .logo-text-block {
    display: flex;
    align-items: end;
    padding-bottom: 0.8rem;
    color: #6c757d;
  }

  .dropdown-toggle::after {
    display: none;
  }
}

@media (min-width: 768px){
  .authentication-links-mobile {
    display: none;
  }

  .authentication-links {
    display: block;
  }
}

@media (max-width: 768px){
  .authentication-links-mobile {
    display: block;
  }

  .authentication-links {
    display: none;
  }
}
